/*--------------------------------------------------------------------------------------------------
Typsnitt
---------------------------------------------------------------------------------------- Typsnitt */
$bebas-font-stack: "Bebas Neue", Arial, Helvetica, sans-serif;
$montserrat-font-stack: "Montserrat", "Helvetica Neue", Arial, sans-serif;
$ibmplexmono-font-stack: "IBM Plex Mono", "Courier New", Courier, monospace;
$ubuntu-font-stack: "Ubuntu", "Segoe UI", "Roboto", "Helvetica Neue", Arial,
  sans-serif;

$base-font-size: calc(15px + 0.390625vw);
$footer-font-size: calc(calc(15px + 0.390625vw) * 0.8);
$navbar-link-size: calc(calc(15px + 0.390625vw) * 1.2);
$small-text-size: calc(calc(15px + 0.390625vw) * 0.8);

$h1-text-size: calc(calc(15px + 0.390625vw) * 3);

/*--------------------------------------------------------------------------------------------------
Färger
------------------------------------------------------------------------------------------ Färger */
$light-body-background-color: hsl(212, 57%, 50%);
$dark-body-background-color: hsl(218, 100%, 2%);
$light-main-background-color: hsl(50, 21%, 95%);
$dark-main-background-color: hsl(206, 42%, 22%);
$light-primary-color: hsl(218, 100%, 2%);
$dark-primary-color: hsl(50, 21%, 95%);

$accent-color: hsl(43, 100%, 51%);

$footer-link-color: hsl(43, 100%, 51%);

/*--------------------------------------------------------------------------------------------------
Mått
-------------------------------------------------------------------------------------------- Mått */

$hero-height: 23rem;

$min-320: 320px;

$max-900: 900px;
$max-1024: 1024px;
$max-1200: 1200px;
$max-1440: 1440px;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;

$spacing: calc(8px + 1.5625vw);
$sm-spacing: calc(calc(8px + 1.5625vw) * 0.5);

$xs-padding: clamp(0.25rem, 0.5vw, 0.5rem);
$sm-padding: clamp(0.5rem, 1vw, 1rem);
$m-padding: clamp(1rem, 2vw, 2rem);
$lg-padding: clamp(1.5rem, 3vw, 3rem);
$xl-padding: clamp(2rem, 4vw, 4rem);

/*--------------------------------------------------------------------------------------------------
Animation
--------------------------------------------------------------------------------------- Animation */
$transition-speed: 0.2s;
