@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

@keyframes border-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.3333%);
  }
}

@keyframes header-icon-ani {
  0% {
    transform: scale(1, 1) rotate(0);
  }
  50% {
    transform: scale(2, 2) rotate(-15deg);
  }
  100% {
    transform: scale(1, 1);
  }
}

.div-clouds-border {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 100px;
  height: 100px;
  max-height: 100px;
  @include respond-to(mobile) {
    min-height: 50px;
    height: 50px;
    max-height: 50px;
  }
}

.clouds-border-content,
.clouds-border-content-down {
  display: inline-block;
  width: 33.3333%;
  height: 100%;
}

.div-clouds-border-ani {
  position: absolute;
  top: 0;
  left: 0;
  width: 5760px;
  height: 100%;
  display: flex;
  animation: border-scroll $border-scroll-speed linear infinite;
}

.header-icon {
  display: inline-block;
  animation: header-icon-ani $icon-ani-time infinite;
}

body.light-theme {
  .card,
  .sass-card,
  .left-col,
  .right-col {
    cursor: default;
    transition: box-shadow $transition-time $ease-function;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0);

    &:hover {
      box-shadow: 0 4px 8px $shadow-color-light;
    }
  }
}

body.dark-theme {
  .card,
  .sass-card,
  .left-col,
  .right-col {
    cursor: default;
    transition: box-shadow $transition-time $ease-function;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0);

    &:hover {
      box-shadow: 0 4px 8px $shadow-color-dark;
    }
  }
}
