@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.body-wrapper {
  @include body-flex-col-wrap;
}

.div-clouds-border {
  min-height: 150px;
  height: 150px;
  max-height: 150px;
  margin: 0;
  padding: 0;
  background-position: top;
  background-size: cover;
  background-repeat: repeat-x;
  transition: background-image $transition-speed ease-in-out;
}

.div-clouds-border-down {
  min-height: 150px;
  height: 150px;
  max-height: 150px;
  margin: 0;
  padding: 0;
  background-position: bottom;
  background-size: cover;
  background-repeat: repeat-x;
  transition: background-image $transition-speed ease-in-out;
}
