@use "../utilities/variables" as *;

.light-theme {
  background-color: $light-body-background-color;
  background-image: url("../img/day-time-big.avif");
  color: $light-primary-color;
}

body.light-theme .navbar-container,
body.light-theme .main-content {
  background-color: $light-main-background-color;
}

body.light-theme .div-clouds-border {
  background-image: url("../img/ljusamoln.svg");
}

body.light-theme .div-clouds-border-down {
  background-image: url("../img/ljusamoln_under.svg");
}

body.light-theme .navbar-container ul li a {
  color: $dark-body-background-color;
  &:hover:not(.active) {
    color: $accent-color;
    background-color: hsla(0, 0%, 0%, 0.648);
  }
}

body.light-theme .navbar-container ul li .active {
  color: $accent-color;
  background-color: hsla(0, 0%, 0%, 0.648);
  cursor: default;
}

body.light-theme .card {
  background-color: hsl(0, 0%, 100%);
}

body.light-theme .sass-card {
  @extend .card;
}

body.light-theme footer a:hover {
  color: lighten($footer-link-color, 40%);
}

body.light-theme footer p {
  color: $dark-primary-color;
}

body.light-theme .quick-links,
body.light-theme .social-links {
  background-color: hsla(0, 0%, 0%, 0.648);
}
